

body {
  font-family: sans-serif;
  /* background-image: url('/assets/felt.png'),
    -webkit-radial-gradient(50% 40%, circle farthest-corner, #527c14, #243a0a);
  background-size: 120px 180px, auto; */
  /* background-attachment: fixed; */
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  padding: 0;
}

#app {
  contain: layout style;
  overflow: visible;
}

/* .roulette-wheel {
  float: right;
  width: 380px;
  height: 380px;
  border-radius: 100%;
  background: url('../public/Assets/roulette_1.jpg');
  background-size: 380px 380px;
  shape-outside: circle(190px);
  margin: 0 0 1em 1em;
  box-shadow: 2px 10px 30px rgba(0, 0, 0, 0.4);
  position: relative;
  touch-action: none;
  overflow: visible;
} */

@media screen and (max-width: 2640px) {
  .roulette-wheel {
    float: none;
    margin: 1em auto;
  }
}

/* @media screen and (max-width: 320px) {
  

  .roulette-wheel {
    float: none;
    left: 30px;
  }
} */

.roulette-wheel .layer-2,
.roulette-wheel .layer-3,
.roulette-wheel .layer-4,
.roulette-wheel .layer-5,
.ball-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 280px 280px;
}

.roulette-wheel .layer-2,
.roulette-wheel .layer-4,
.ball-container {
  will-change: transform;
}

.roulette-wheel .layer-2 {
  background-image: url('/assets/roulette_2.png');
}

.roulette-wheel .layer-3 {
  background-image: url('/assets/roulette_3.png');
}

.roulette-wheel .layer-4 {
  background-image: url('/assets/roulette_4.png');
}

.roulette-wheel .layer-5 {
  background-image: url('/assets/roulette_5.png');
}

.roulette-wheel svg {
  position: absolute;
  top: 0;
  left: 0;
}

.roulette-wheel circle {
  cursor: pointer;
  fill: transparent;
}

.roulette-wheel .ball {
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 7px;
  background: #fff radial-gradient(circle at 5px 5px, #fff, #444);
  box-shadow: 1px 1px 4px #000;
  transform: translateY(-116px);
  top: 50%;
  left: 50%;
  margin: -7px;
  will-change: transform;
}

.roulette-board {
  float: none;
  display: flow-root;
  width: 1000px;
  height: 420px;
  background: url('./assets/Board.png');
  background-size: 1000px auto;
  margin: 0 auto;
}

.roulette-board-grid-numbers {
  display: grid;
  width: auto;
  height: 216px;
  margin-left: 37px;
  margin-right: 23px;
  margin-top: 27px;
  margin-bottom: 17px;
}

.roulette-board-grid-other {
  display: grid;
  width: auto;
  height: 216px;
  margin-left: 37px;
  margin-right: 23px;
  margin-top: 27px;
  margin-bottom: 17px;
}

div.chip-100-placed {
  background: url('/assets/chip_black.png') no-repeat;
  background-size: 30px 30px;
}

div.chip-20-placed {
  background: url('/assets/chip_blue.png') no-repeat;
  background-size: 30px 30px;
}

div.chip-10-placed {
  background: url('/assets/chip_orange.png') no-repeat;
  background-size: 30px 30px;
}

div.chip-5-placed {
  background: url('/assets/chip_purple.png') no-repeat;
  background-size: 30px 30px;
}

.roulette-actions {
  display: block;
  position: relative;
  height: 150px;
}

.chipValue {
  position: relative;
}

.chipValueImage {
  position: absolute;
  width: 30px;
  height: 30px;
}

.chipSum {
  position: absolute;
  font-weight: 900;
  font-size: 20px;
  -webkit-text-stroke: 1px blue;
  -webkit-text-fill-color: white;
  z-index: 10;
}

.auth-user {
  width: 250px;
  margin: 100px auto 50px;
}

.progressBar {
  width: 400px;
  margin: 0 auto;
}

.linearProgressRounds {
  width: 400px;
  height: 40px;
}

.progressRoundTitle {
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 24px;
  font-weight: 900;
  color: #fff;
}

.rouletteWheelWrapper {
  margin: 0 auto;
}

.winnerHistory {
  vertical-align: top;
  width: 400px;
}

.winnersBoard {
  vertical-align: top;
  width: 400px;
}

.winnerHistory .red {
  text-align: center;
  background-color: rgb(177, 6, 6);
}

.winnerHistory .green {
  text-align: center;
  background-color: rgb(42, 174, 42);
}

.winnerHistory .black {
  text-align: center;
  background-color: rgb(41, 40, 40);
}

.winnerHistory div {
  float: left;
  color: #fff;
  font-weight: 900;
  line-height: 40px;
  margin-left: 20px;
  margin-top: 10px;
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}

.playButton {
  text-align: center;
  margin: 10px;
}

.controlPanel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px 0px;
}



.roulette-wheel .layer-2,
.roulette-wheel .layer-3,
.roulette-wheel .layer-4,
.roulette-wheel .layer-5 {
  /* Fallback for missing layer images */
  background-color: transparent;
}

/* Loading state for images */
.roulette-wheel::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, #2a5d0f, #527c14);
  border-radius: 50%;
  z-index: -1;
}

/* Ensure images load properly */
.roulette-wheel,
.roulette-wheel .layer-2,
.roulette-wheel .layer-3,
.roulette-wheel .layer-4,
.roulette-wheel .layer-5,
.roulette-board {
  background-repeat: no-repeat;
  background-position: center;
}